:root{
  --primary: #222831;
  --secondary: #DDDDDD;
  --tertiary: #30475E;
  --quaternary: #F05454;
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background-color: var(--primary);
  

}

.main-container{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "header header" 
                        "nav nav"
                        "aside main";
  grid-template-columns: 40% 60%;

  
  
}

.titulo{
  
  color: var(--secondary);
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-header{
  
  grid-area: header;
  margin-top: 30px;
  text-align: center;
}

.main-nav{
  margin-top: 0px;
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.main-nav-list{
  background-color: var(--tertiary);
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  column-gap: 100px;
  padding: 15px;
  border-radius: 10px;

}

.main-nav-item a{
  text-decoration: none;
  color: var(--secondary);
  transition: all 0.1s linear;
   
}

.main-nav-item a:hover,.active{
  font-weight: bold;
  border-bottom: 4px solid var(--secondary);
}

.main-aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 10px;
  width: 80%;
  padding: 20px;
  padding-left: 50px;
}

.fechas{
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.concepto{
  height: 100px;
  background-color: inherit;
  border: 3px solid var(--secondary);
  border-radius: 10px;
  padding: 10px;
  caret-color: var(--quaternary);
  color: var(--secondary);
  font-size: 16px;
  outline: none;
}

.main-main{
  grid-area: main;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 100px;

}

.selector{
  width: 60%;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  height: 40px;
  font-size: 16px;
}


.send{
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  background-color: inherit;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.send:hover{
  background-color: var(--secondary);
  color: var(--primary);
}

.wait{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color : var(--secondary);
  text-align: center;
}
.summary{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.summary h2{
  color: var(--secondary);
}

.summary input[type="number"]{
  width: 40%;
  height: 10px;
  border: 3px solid var(--secondary);
  border-radius: 10px;
  padding: 10px;
  caret-color: var(--quaternary);
  color: var(--quaternary);
  font-size: 16px;
  background-color: inherit;
  outline: none;
  text-align: center;
}

.restar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.restar button{
  width: 10%;
  height: 30px;
  border: 3px solid var(--quaternary);
  background-color: inherit;
  color: var(--quaternary);
  font-size: 16px;
  transition: all 0.4s ease;
}


.restar button:hover{

 
  background-color: var(--quaternary);
  color: var(--secondary);

}

table{
  margin-top: 40px;
  width: 90%;
  border: 3px solid var(--secondary);
  margin-bottom: 40px;
}

tr,td,th{
  border: 1px solid var(--secondary);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

td{
  max-width: 400px;
  min-height: 80px;
}

th{
  background-color: var(--secondary);
  color: var(--primary);
}

tr:nth-child(odd){
  background-color: var(--tertiary);
  color: var(--secondary);
}

tr:nth-child(even){
  background-color: inherit;
  color: var(--secondary);
}



.fecha_item{
  width: 20px;
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid var(--secondary);
  border-radius: 2px;
  overflow: hidden;
  color: var(--secondary);
  text-align: center;
  font-size: 17px;
  transition: all 0.2s linear;
}

.l{
  width: 50px;
}

.fecha_item:hover,.fecha_item:focus{
  border-bottom: 2px solid var(--quaternary);

}

.campo-data{
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-div{
    color: var(--secondary);
    font-size: 18px;
    font-weight: bold;
}

.festivo{
  color: var(--secondary);
  font-size: 18px;
  transition: all 0.2s linear;
  
}

.festivo:hover{
  color: var(--quaternary);
}

.summary-chart{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;

}

.summary-words{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  

}

.chart-container{
  width: 40%;
}

.label-summary{
  color: var(--secondary);
  font-size: large;
  font-weight: bold;

}

.span-summary{
  color: var(--quaternary);
}

.actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.actions button{
 background-color: inherit;
 font-size: 16px;
 border: none;
}

.del{
  color: var(--quaternary);
  font-weight: bold;
  transition: all 0.1s linear;
  
}
.del:hover{
  border-bottom: 3px solid var(--quaternary);
  border-radius: 2px;
}

.edit{
  color: var(--secondary);
  font-weight: bold;
  transition: all 0.1s linear;
  
}
.edit:hover{
  border-bottom: 3px solid var(--secondary);
  border-radius: 2px;
}

.xs{
  width: 20%;
}

.c-xs{
  height: 50px;
}